
@{
  ViewBag.Title = "Users";
  var Users = (List<WebApplication8.Models.User>)ViewData["users"];

}

<h2>Users</h2>


<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination pull-left">
      @for (int i = 1; i <= Users.Count(); i++)
      {
        <li @*class="@(i == Model.CurrentPage ? "page-item active" : "page-item")"*@>
          <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>

      }
    </ul>
  </nav>
  <p><a href="@Url.Action("CreateNewUser","Home")" class="btn btn-primary btn-lg pull-right">Create User</a></p>
</div>
<table class="table table-bordered table-striped" id="myTable">
  @*Displays my project list headers from the database*@

  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Gender
      </th>
      <th>
        Delete
      </th>
      <th>
        Update
      </th>
    </tr>

  </thead>
  @*Displays my employee list from the database*@
  <tbody>
    @foreach (var item in Users)
    { // Loop through List with foreach
      <tr>
        <td class="item-col">
          <span>
            @Html.DisplayFor(Emp1 => @item.Name)
          </span>
        </td>
        <td class="item-col">
          <span class="unit_value">
            @Html.DisplayFor(Emp1 => @item.Email)
          </span>
        </td>
        <td class="item-col">
          <span class="total_product_quantity">
            @Html.DisplayFor(Emp1 => @item.Gender)
          </span>
        </td>
        <td class="item-col">
          <span class="total_product_quantity">
            @Html.ActionLink("Delete", "DeleteUser", "Home", new { userID = @item.Id }, null)
          </span>
        </td>
        <td class="item-col">
          <span class="total_product_quantity">
            @Html.ActionLink("Update", "UpdateUser", "Home", new
                                                              {
                                                               Id = item.Id,
                                                               Name = @item.Name,
                                                               Email = @item.Email,
                                                               Gender = @item.Gender,
                                                               Status = @item.Status,
                                                               Updated_at = @item.Updated_at,
                                                               Created_at = @item.Created_at
                                                              }, null)
          </span>
        </td>
      </tr>
    }

  </tbody>


</table>
